<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-adbrix" version="0.9.1">
    <name>adBrix</name>
    <description>adBrix tool</description>
    <license>Apache 2.0</license>
    <keywords>adbrix,tracking,analytics</keywords>
    <js-module src="www/adbrix.js" name="Adbrix">
        <clobbers target="cordova.adbrix" />
    </js-module>
	<preference name="ADBRIX_KEY" />
    <preference name="ADBRIX_HASHKEY" />
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Adbrix">
                <param name="android-package" value="com.mscbrain.lib.tracking.AdBrixPlugin"/>
            </feature>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<!-- 옵셔널한 값입니다. -->
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
         </config-file>
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
         	<meta-data android:name="igaworks_app_key" android:value="@string/adbrix_key" />
			<meta-data android:name="igaworks_hash_key" android:value="@string/adbrix_hashkey" />
			<receiver android:name="com.mscbrain.lib.tracking.MultipleInstallReceiver" android:exported="true">
	            <intent-filter>
	                <action android:name="com.android.vending.INSTALL_REFERRER"/>
	            </intent-filter>
        	</receiver>
         </config-file>
	     <config-file target="res/values/adbrix_strings.xml" parent="/*">
            <string name="adbrix_key">$ADBRIX_KEY</string>
            <string name="adbrix_hashkey">$ADBRIX_HASHKEY</string>
	     </config-file>
         <source-file src="src/android/adbrix_strings.xml" target-dir="res/values" />
         <source-file src="src/android/AdBrixPlugin.java" target-dir="src/com/mscbrain/lib/tracking" />
         <source-file src="src/android/MultipleInstallReceiver.java" target-dir="src/com/mscbrain/lib/tracking" />
         <source-file src="https://github.com/cuter74/cordova-plugin-adbrix/raw/master/libs/IgawAdbrix_v4.2.5a.jar" target-dir="libs/IgawAdbrix_v4.2.5a.jar" />
         <source-file src="https://github.com/cuter74/cordova-plugin-adbrix/raw/master/libs/IgawCommon_v4.3.1a.jar" target-dir="libs/IgawCommon_v4.3.1a.jar" />
    </platform>
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Adbrix">
                <param name="ios-package" value="Adbrix" />
            </feature>
        </config-file>
        <source-file src="src/ios/Adbrix.m" />
        <header-file src="src/ios/Adbrix.h" />
    </platform>
</plugin>
